body {
	background-color: rgb(248, 249, 255);
}

.section-login {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 20px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.074);
}

.section-login h1 {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

button {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 500px) {

	.section-login {
		width: 95%;
	}

}